:root {
  --black: #404040;
  --light-black: #333333;
  --dark-black: #4a4a4a;
  --white: #ffffff;
  --yellow: #fbce07;
  --dark-blue: #01304d;
  --green: #007a4e;
  --orange: #c54f27;
  --purple: #7b2978;
  --light-blue: #3e5f90;
  --light-grey: #f7f7f7;
  --dark-grey: #dbdbdb;
  --red: #dd1d21;
  --shell-bold: "ShellBold", sans-serif;
  --shell-heavy: "ShellHeavy", sans-serif;
}
